.row{
    color: white;
    margin-left: 20px;
}

.row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}
.row_posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.row_poster:hover{
    transform: scale(1.08);
    opacity: 1;
    cursor: pointer;
}
.row_posters::-webkit-scrollbar{
    display: none;
}

.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
    opacity: 1;
}
